page-registration {
   
      .action-sheet-title {
        background: #8e175a !important;
        color: white !important;
    }
      
      ion-action-sheet {
        ion-icon {
          width: 3rem;
          height: 3rem;
        }
      
        .ion-ios-trash-solid,
        .ion-md-trash-solid {
          content: url(../assets/icon/trash-solid.svg);
        }
      
        .ion-ios-share-alt-square-solid,
        .ion-md-share-alt-square-solid {
          content: url(../assets/imgs/indianflag);
        }
    }
    .button-round {
      border-radius: 5px;
      padding: 0 2.6rem;
    }

}
