// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-action-sheet {
    ion-icon {
      width: 3rem;
      height: 3rem;
    }
  
    .ion-ios-trash-solid,
    .ion-md-trash-solid {
      content: url(../assets/icon/trash-solid.svg);
    }
  
    .ion-ios-arrow-round-up
    {
      background-repeat: round;
      background-image: url(https://cdn.webshopapp.com/shops/94414/files/54025310/india-flag-icon-free-download.jpg) !important;
      margin-left: -80px;
    position: absolute;
    }

    .ion-ios-arrow-round-up:before {
      content: "";
  }

  .ion-md-arrow-round-up
  {
    background-repeat: round;
    background-image: url(https://cdn.webshopapp.com/shops/94414/files/54025310/india-flag-icon-free-download.jpg) !important;
    margin-left: -80px;
  }

  .ion-md-arrow-round-up:before {
    content: "";
}
}