<!--
  Generated template for the OtpVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
 
        <ion-icon (click)="pop()"   style="color: #8e175aff" name="arrow-back"></ion-icon>   

<div class="top40">
  <h1 class="top40">Enter the OTP</h1>
  <p style="color: #848d95;" class="top40">We have sent you a 4 digit verification code in the given mobile number </p>
  <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
  <p class="top40"  *ngIf="!resend">{{timevalue||async}}<p>
  <div *ngIf="resend" class="top40" >
 <button ion-button color="primary" (click)="resendOtp()" round>Resend</button>
</div>
<button class="top40" ion-button full rounded color="primary" round (click)="verifyOtp()">Proceed</button>

</div>
</ion-content>
