.otp {
    color: darkgray;
    border-style: none;
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  
  td {
    border: 2px solid darkgray
  }
  
  table {
    border-collapse: collapse;
  }
  .bottom {
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
    width: 100%;
}
.top40
{
    margin-top: 40px;
    text-align: center;
}

.button-round {
  border-radius: 5px;
  padding: 0 2.6rem;
}

.otp-input[_ngcontent-c0] {
  border-radius: 14px;
}



  
